#about{
    overflow: hidden;
    width: 100vw;
    max-width: 75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.aboutTitle{
    font-size: 3rem;
    font-weight: 800;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.aboutDescription{
    font-size: 1rem;
    font-weight: 300;
    max-width: 60rem;
    padding: 0 2rem;
}

.aboutCards{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.aboutCard{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50,50,50);
}

.aboutCardImg{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.aboutCardText>p{
    font-size: 1rem;
    font-weight: 300;
}

.aboutCardText>h2{
    font-weight: 500;
}

@media screen and (max-width: 450px){
    .aboutCardText>p{
        font-size: 3vw;
    }

    .aboutCardImg{
        height: 2.25rem;
        width: 2.25rem
    }

    .aboutCardText>h2{
        font-size: 5vw;
    }
}

@media screen and (max-width: 375px){
    .aboutCardText>p{
        font-size: 2.5vw;
    }

    .aboutCardImg{
        height: 2rem;
        width: 2rem
    }

    .aboutCardText>h2{
        font-size: 4.5vw;
    }
}

