.navbar{
    background: rgb(30,30,30);
    height: 5rem;
    width: 100vw;
    max-width: 90rem;
    margin: 0 auto;
    padding: 1rem 2 rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo{
    object-fit: cover;
    height: 5rem;
    width: 5rem;
}

.desktopMenuListItem{
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover{
    color: skyblue;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid skyblue;
}

@media screen and (max-width: 450px){
    .desktopMenuListItem{
        font-size: 13px;
    }
}

@media screen and (max-width: 405px){
    .desktopMenuListItem{
        font-size: 8px;
    }
}