.footer{
    width: 100vw;
    height: 5rem;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerTitle{
  margin: 1rem 0;
  font-size: 2rem;
}

.links{
    display: flex;
    flex-wrap: wrap;
}

.link{
    object-fit: fill;
    height: 3.5rem;
    width: 4rem;
    margin: 0 1rem;
}

.link:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px; 
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }